#Template para desarrollo
JWT_SEED=MiSuperSecretoBoticaNovaSalud2026

PORT=3000
PUBLIC_PATH=public

POSTGRES_URL=postgresql://postgres:123456@localhost:5432/NOVA_SALUD_DB
POSTGRES_USER=postgres
POSTGRES_DB=NOVA_SALUD_DB
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123456

NODE_ENV=development